.red{
    background-color:rgb(119, 43, 43);
    color:white;
    margin:10px;
    width:120px;
    border-radius:30px;
}
.cont{
   
    display:flex;
    width:400px;
    margin:auto;
    margin-top:150px;
}